body {
  width: 98.9vw;
  height: 250vh;
  background: linear-gradient(10deg, #0c92eb, #011f2a);
  background-size: 300% 550%;
  animation: gradientBackground 14s ease-in-out infinite;

  font-family: "Poppins";
}

@keyframes gradientBackground {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 50% 50%;
  }
  50% {
    background-position: 50% 50%;
  }
  75% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 5% 5%;
  }
}

.cursor {
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-radius: 50%;
  position: absolute;
  transition-duration: 100ms;
  transition-timing-function: ease-out;
  z-index: -1;
}

header {
  width: 100%;
  height: 10%;
  display: flex;
}

header .title {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
}

header .title .title-box {
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
}

header .title .title-box p a {
  font-size: 4rem;
  margin: 0 1em;
  border: 2px solid rgb(131, 164, 212, 0.5);
  border-radius: 100px;

  padding: 0 0.35em;
  font-weight: 600;
  background: linear-gradient(to right, #b6fbff, #83a4d4);
  background-clip: text;
  color: transparent;
  /* text-decoration: underline; */
}

header .title .title-box p a:hover {
  transition: 0.1s;
  opacity: 0.7;
}

header .navbar {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}

header .navbar .navbar-items {
  margin: 1em 1em;
}

header .navbar .navbar-items.active a {
  color: white;
}

header .navbar #projects {
  margin-right: 5em;
}

header .navbar .navbar-items a {
  font-size: 1.3rem;
  background: linear-gradient(to right, #b6fbff, #83a4d4);
  background-clip: text;
  color: transparent;
  position: relative;
}

header .navbar .navbar-items a::after {
  content: "";
  position: absolute;
  left: 0;

  top: 30px;
  width: 0;
  height: 2px;
  background-color: #83a4d4;
  transition: width 0.2s ease-in-out;
}

header .navbar .navbar-items a:hover::after {
  width: 100%;
}

/*Main*/
main {
  width: 100%;
  height: 85%;
}

main .container-main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/*1*/
main .container-main .title {
  width: 100%;
  height: 10%;
}

main .container-main .title .title-box {
  width: 40%;
  height: 100%;

  margin-left: 3em;
}

main .container-main .title .title-box p {
  font-size: 3rem;
  color: white;
  font-weight: 600;
  background: linear-gradient(to right, #b6fbff, #83a4d4);
  background-clip: text;
  color: transparent;
}

/*2*/
main .container-main .desc {
  width: 100%;
  height: 50%;
  background-color: rgba(54, 66, 83, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

main .container-main .desc .desc-box {
  width: 85%;
  height: 90%;
  /* background-color: rgb(18, 1, 50); */
  display: flex;
}

main .container-main .desc .desc-image {
  width: 52%;
  height: 92%;
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  align-items: top;
}

main .container-main .desc .desc-image .desc-image-box {
  width: 80%;
  height: 100%;
  /* background-color: #0cb112; */
}

main .container-main .desc .desc-image .desc-image-box img {
  width: 100%;
  height: 100%;
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 5px 5px 10px rgb(0, 0, 0);
  object-fit: cover;
  object-position: bottom;
}

main .container-main .desc .desc-text {
  width: 70%;
  height: 100%;
  /* background-color: red; */
  display: flex;
  justify-content: top;
  align-items: top;
  margin-left: 1em;
}

main .container-main .desc .desc-text .desc-text-box {
  width: 90%;
  height: 100%;
}

main .container-main .desc .desc-text .desc-text-box span {
  margin: 0.2em 0;
  /* font-size: 1.2rem; */
  background: linear-gradient(to right, #b6fbff, #b6fbff);
  background-clip: text;
  color: transparent;
  font-weight: 600;
}

main .container-main .desc .desc-text .desc-text-box span:nth-child(1) {
  font-size: 1.8rem;
}

main .container-main .desc .desc-text .desc-text-box p .quote {
  font-size: 1.6rem;
  font-style: italic;
  padding: 0 0.1em;
}

main .container-main .desc .desc-text .desc-text-box p {
  margin: 0.2em 0;
  font-size: 1.1rem;
  background: linear-gradient(to right, #b6fbff, #83a4d4);
  background-clip: text;
  color: transparent;
}

/*3*/
main .container-main .skill {
  margin-top: 1em;
  width: 100%;
  height: 20%;
  /* background-color: rgba(74, 74, 74, 0.3); */
  display: flex;
  justify-content: center;
  align-items: center;
}

main .container-main .skill .skill-box {
  width: 100%;
  height: 90%;
  /* background-color: rgba(255, 0, 0, 0.3); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main .container-main .skill .skill-box .skill-text {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;

  /* background-color: yellow; */
}

main .container-main .skill .skill-box .skill-text p {
  font-size: 2rem;
  color: white;
  font-weight: 600;
  background: linear-gradient(to right, #b6fbff, #83a4d4);
  background-clip: text;
  color: transparent;
  border-bottom: 2px solid #b6fbff;
  /* background-color: yellow; */
}

main .container-main .skill .skill-box .skill-list {
  width: 80%;
  height: 80%;
  /* flex-wrap: wrap; */
  /* background-color: rgb(46, 46, 38); */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

main .container-main .skill .skill-box .skill-list .skill-item {
  width: 20%;
  height: fit-content;
  /* background-color: rgb(84, 19, 52); */
  display: flex;

  flex-direction: column;
  justify-content: center;
  /* flex-wrap: wrap; */
  align-items: center;
  margin: 0 2.5em;
}

main .container-main .skill .skill-box .skill-list .skill-item .skill-icon {
  width: fit-content;
  height: fit-content;
  /* background-color: rgb(40, 17, 188); */
  display: flex;
  justify-content: center;
  align-items: center;
}

main .container-main .skill .skill-box .skill-list .skill-item .skill-icon i {
  font-size: 2rem;
  color: white;
  background: linear-gradient(to right, #b6fbff, #83a4d4);
  background-clip: text;
  color: transparent;
}

main .container-main .skill .skill-box .skill-list .skill-item:hover {
  color: white;
  text-shadow: 0 0 15px rgba(255, 255, 255);
  cursor: default;
}

main .container-main .skill .skill-box .skill-list .skill-item .skill-texts {
  width: 100%;
  height: 20%;
  /* background-color: rgb(17, 188, 63); */
  display: flex;
  justify-content: center;
  align-items: start;
  font-size: 1rem;
  background: linear-gradient(to right, #b6fbff, #83a4d4);
  background-clip: text;
  color: transparent;
}

/*contact*/

main .container-main .contact {
  margin-top: 1em;
  width: 100%;
  height: 25%;
  /* background-color: rgba(74, 74, 74, 0.3); */
  display: flex;
  justify-content: center;
  align-items: center;
}

main .container-main .contact .contact-box {
  width: 90%;
  height: 90%;
  /* background-color: rgba(35, 42, 87, 0.3); */
  display: flex;
  flex-direction: column;
}

main .container-main .contact .contact-box .contact-text {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;

  /* background-color: yellow; */
}

main .container-main .contact .contact-box .contact-text p {
  font-size: 2rem;
  color: white;
  font-weight: 600;
  background: linear-gradient(to right, #b6fbff, #83a4d4);
  background-clip: text;
  color: transparent;
  border-bottom: 2px solid #b6fbff;
  /* background-color: yellow; */
}

main .container-main .contact .contact-box .contact-text-engage {
  background-color: rgb(7, 27, 57, 0.5);
  width: 70%;
  text-align: center;
  margin: 0 auto;
  padding: 0.4em 0.6em;
}

main .container-main .contact .contact-box .contact-text-engage p {
  font-size: 1.3rem;
  color: white;
  font-weight: 600;
  background: linear-gradient(to right, #b6fbff, #83a4d4);
  background-clip: text;
  color: transparent;
  text-align: center;
}

main .container-main .contact .contact-box .contact-text-engage p a {
  font-size: 1.3rem;
  color: white;
  font-weight: 600;
  background: linear-gradient(to right, #b6fbff, #83a4d4);
  background-clip: text;
  color: transparent;
  text-align: center;
  border-bottom: 1px solid #83a4d4;
}

main .container-main .contact .contact-box .contact-text-engage p a:hover {
  text-shadow: 0 0 15px white;
}

main .container-main .contact .contact-box .contact-list {
  width: 100%;
  height: 80%;
  /* background-color: rgb(46, 46, 38); */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

main .container-main .contact .contact-box .contact-list .contact-item {
  width: 15%;
  height: 50%;
  /* background-color: hotpink; */
  display: flex;
  flex-direction: column;
  margin: 0 0;
}

main
  .container-main
  .contact
  .contact-box
  .contact-list
  .contact-item
  .contact-icon {
  width: 100%;
  height: 80%;
  /* background-color: rgb(40, 17, 188); */
  display: flex;
  justify-content: center;
  align-items: center;
}

main .container-main .contact .contact-box .contact-list .contact-item:hover {
  color: white;
  text-shadow: 0 0 15px rgb(255, 255, 255, 0.5);
}

main
  .container-main
  .contact
  .contact-box
  .contact-list
  .contact-item
  .contact-icon
  i {
  font-size: 3.5rem;
  color: white;
  background: linear-gradient(to right, #b6fbff, #83a4d4);
  background-clip: text;
  color: transparent;
}

main
  .container-main
  .contact
  .contact-box
  .contact-list
  .contact-item
  .contact-texts {
  width: 100%;
  height: 20%;
  /* background-color: rgb(17, 188, 63); */
  display: flex;
  justify-content: center;
  align-items: start;
  font-size: 1rem;
  background: linear-gradient(to right, #b6fbff, #83a4d4);
  background-clip: text;
  color: transparent;
}

/*Footer*/
footer {
  width: 100%;
  height: 5%;
  display: flex;
  align-items: center;
  justify-content: end;
}

footer .footer-box {
  width: 50%;

  margin: 0 2em;
}

footer .footer-box p {
  background: linear-gradient(to right, #b6fbff, #83a4d4);

  background-clip: text;
  color: transparent;
}

footer #clock {
  /* margin-right: 1em; */
  font-size: 2rem;
  font-weight: 600;
  background: linear-gradient(to right, #e3e3e3, #b6b4be);
  background-clip: text;
  color: transparent;
  letter-spacing: 1px;
}

footer .clock-box {
  width: 50%;
  margin-right: 3em;
  display: flex;
  justify-content: end;
}

/*MEdia Queries*/
/*Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 95%;
  }
}

/*Tablet*/
@media (max-width: 768px) {
  html {
    font-size: 93%;
  }

  body {
    height: 250vh;
  }

  header {
    height: 7%;
  }

  main {
    height: 88%;
  }

  footer {
    height: 5%;
  }

  main .desc-box {
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }

  main .desc-text-box {
    text-align: start;
  }

  main .container-main .contact .contact-box {
    height: 70%;
    margin-top: 0.2rem;
  }

  /* main .container-main .skill .skill-box {
    height: 70%;
  } */

  /* main .container-main .desc {
    height: 35%;
  } */

  main .container-main .desc .desc-image .desc-image-box {
    width: 100%;
    height: 90%;
    /* background-color: #0cb112; */
  }

  main .container-main .title {
    height: 3%;
  }

  main .container-main .desc .desc-text {
    width: 95%;
  }

  main .container-main .contact .contact-box .contact-list .contact-item {
    width: 15%;
    height: 30%;
    /* background-color: hotpink; */
    display: flex;
    flex-direction: column;
    margin: 0 1em;
  }

  main .container-main .desc .desc-image {
    width: 40%;
    height: 40%;
  }

  main .container-main .skill .skill-box .skill-list {
    width: 100%;
    height: 80%;
    flex-wrap: wrap;
    /* background-color: rgb(46, 46, 38); */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

/*Phone */
@media (max-width: 430px) {
  html {
    font-size: 65%;
  }

  main .container-main .title {
    height: 5%;
  }

  body {
    height: 300vh;
  }

  /* main .container-main .skill {
    align-items: end;
  } */
}
