body {
  width: 98.9vw;
  height: 200vh;
  background: linear-gradient(45deg, #0c6fb1, #18222c);
  background-size: 200% 200%;
  animation: gradientBackground 8s ease infinite;

  font-family: "Poppins";
}

@keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

header {
  width: 100%;
  height: 10%;
  display: flex;
}

header .title {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
}

header .title .title-box {
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
}

header .title .title-box a {
  font-size: 3rem;
  margin: 0 1em;
  font-weight: 600;
  background: linear-gradient(to right, #b6fbff, #83a4d4);

  background-clip: text;
  color: transparent;
}

header .navbar {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}

header .navbar .navbar-items {
  margin: 1em 1em;
}

header .navbar #projects {
  margin-right: 5em;
}

header .navbar .navbar-items a {
  font-size: 1.3rem;
  background: linear-gradient(to right, #b6fbff, #83a4d4);
  background-clip: text;
  color: transparent;
  position: relative;
}

header .navbar .navbar-items a::after {
  content: "";
  position: absolute;
  left: 0;

  top: 30px;
  width: 0;
  height: 2px;
  background-color: #83a4d4;
  transition: width 0.2s ease-in-out;
}

header .navbar .navbar-items a:hover::after {
  width: 100%;
}

/*Main*/
main {
  width: 100%;
  height: 85%;
}

main .container-main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/*1*/
main .container-main .title {
  width: 100%;
  height: 10%;
}

main .container-main .title .title-box {
  width: 40%;
  height: 100%;

  margin-left: 3em;
}

main .container-main .title .title-box p {
  font-size: 3rem;
  color: white;
  font-weight: 600;
  background: linear-gradient(to right, #b6fbff, #83a4d4);
  background-clip: text;
  color: transparent;
}

/*2*/
main .container-main .desc {
  width: 100%;
  height: 33%;
  background-color: rgba(54, 66, 83, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

main .container-main .desc .desc-box {
  width: 85%;
  height: 90%;
  /* background-color: rgb(18, 1, 50); */
  display: flex;
}

main .container-main .desc .desc-image {
  width: 30%;
  height: 100%;
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  align-items: top;
}

main .container-main .desc .desc-image .desc-image-box {
  width: 50%;
  height: 68%;
  /* background-color: #0cb112; */
}

main .container-main .desc .desc-image .desc-image-box img {
  width: 100%;
  height: 100%;
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 5px 5px 10px rgb(0, 0, 0);
}

main .container-main .desc .desc-text {
  width: 70%;
  height: 100%;
  /* background-color: red; */
  display: flex;
  justify-content: top;
  align-items: top;
  margin-left: 1em;
}

main .container-main .desc .desc-text .desc-text-box {
  width: 90%;
  height: 90%;
}

main .container-main .desc .desc-text .desc-text-box p {
  margin: 0.8em 0;
  font-size: 1.3rem;
  background: linear-gradient(to right, #b6fbff, #83a4d4);
  background-clip: text;
  color: transparent;
}

/*3*/
main .container-main .skill {
  margin-top: 1em;
  width: 100%;
  height: 30%;
  /* background-color: rgba(74, 74, 74, 0.3); */
  display: flex;
  justify-content: center;
  align-items: center;
}

main .container-main .skill .skill-box {
  width: 90%;
  height: 90%;
  background-color: rgba(60, 63, 82, 0.3);
  display: flex;
  flex-direction: column;
}

main .container-main .skill .skill-box .skill-text {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: white;
  font-weight: 600;
  background: linear-gradient(to right, #b6fbff, #83a4d4);
  background-clip: text;
  color: transparent;
  /* background-color: yellow; */
}

main .container-main .skill .skill-box .skill-list {
  width: 100%;
  height: 80%;
  /* background-color: rgb(46, 46, 38); */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

main .container-main .skill .skill-box .skill-list .skill-item {
  width: 15%;
  height: 80%;
  /* background-color: hotpink; */
  display: flex;
  flex-direction: column;
  margin: 0 1em;
}

main .container-main .skill .skill-box .skill-list .skill-item .skill-icon {
  width: 100%;
  height: 80%;
  /* background-color: rgb(40, 17, 188); */
  display: flex;
  justify-content: center;
  align-items: center;
}

main .container-main .skill .skill-box .skill-list .skill-item .skill-icon i {
  font-size: 5rem;
  color: white;
  background: linear-gradient(to right, #b6fbff, #83a4d4);
  background-clip: text;
  color: transparent;
}

main .container-main .skill .skill-box .skill-list .skill-item .skill-texts {
  width: 100%;
  height: 20%;
  /* background-color: rgb(17, 188, 63); */
  display: flex;
  justify-content: center;
  align-items: start;
  font-size: 1rem;
  background: linear-gradient(to right, #b6fbff, #83a4d4);
  background-clip: text;
  color: transparent;
}

/*contact*/

main .container-main .contact {
  margin-top: 1em;
  width: 100%;
  height: 30%;
  /* background-color: rgba(74, 74, 74, 0.3); */
  display: flex;
  justify-content: center;
  align-items: center;
}

main .container-main .contact .contact-box {
  width: 90%;
  height: 90%;
  background-color: rgba(35, 42, 87, 0.3);
  display: flex;
  flex-direction: column;
}

main .container-main .contact .contact-box .contact-text {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: white;
  font-weight: 600;
  background: linear-gradient(to right, #b6fbff, #83a4d4);
  background-clip: text;
  color: transparent;
  /* background-color: yellow; */
}

main .container-main .contact .contact-box .contact-list {
  width: 100%;
  height: 80%;
  /* background-color: rgb(46, 46, 38); */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

main .container-main .contact .contact-box .contact-list .contact-item {
  width: 15%;
  height: 80%;
  /* background-color: hotpink; */
  display: flex;
  flex-direction: column;
  margin: 0 1em;
}

main
  .container-main
  .contact
  .contact-box
  .contact-list
  .contact-item
  .contact-icon {
  width: 100%;
  height: 80%;
  /* background-color: rgb(40, 17, 188); */
  display: flex;
  justify-content: center;
  align-items: center;
}

main
  .container-main
  .contact
  .contact-box
  .contact-list
  .contact-item
  .contact-icon
  i {
  font-size: 5rem;
  color: white;
  background: linear-gradient(to right, #b6fbff, #83a4d4);
  background-clip: text;
  color: transparent;
}

main
  .container-main
  .contact
  .contact-box
  .contact-list
  .contact-item
  .contact-texts {
  width: 100%;
  height: 20%;
  /* background-color: rgb(17, 188, 63); */
  display: flex;
  justify-content: center;
  align-items: start;
  font-size: 1rem;
  background: linear-gradient(to right, #b6fbff, #83a4d4);
  background-clip: text;
  color: transparent;
}

/*Footer*/
footer {
  width: 100%;
  height: 5%;
  display: flex;
  align-items: center;
  justify-content: end;
}

footer .footer-box {
  width: 50%;

  margin: 0 2em;
}

footer .footer-box p {
  background: linear-gradient(to right, #b6fbff, #83a4d4);

  background-clip: text;
  color: transparent;
}

footer #clock {
  /* margin-right: 1em; */
  font-size: 2rem;
  font-weight: 600;
  background: linear-gradient(to right, #e3e3e3, #b6b4be);
  background-clip: text;
  color: transparent;
  letter-spacing: 1px;
}

footer .clock-box {
  width: 50%;
  margin-right: 3em;
  display: flex;
  justify-content: end;
}

/*MEdia Queries*/
/*Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 80%;
  }
}

/*Tablet*/
@media (max-width: 768px) {
  html {
    font-size: 72.5%;
  }

  main .desc-box {
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }

  main .desc-text-box {
    text-align: start;
  }

  main .container-main .contact .contact-box {
    height: 70%;
    margin-top: 0.2rem;
  }

  main .container-main .skill .skill-box {
    height: 70%;
  }
}

/*Phone */
@media (max-width: 480px) {
  html {
    font-size: 55%;
  }

  main .container-main .skill {
    align-items: end;
  }
}
