body {
  width: 98.9vw;
  height: 350vh;
  background: linear-gradient(10deg, #0c92eb, #011f2a);
  background-size: 300% 550%;
  animation: gradientBackground 14s ease-in-out infinite;

  font-family: "Poppins";
}

@keyframes gradientBackground {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 50% 50%;
  }
  50% {
    background-position: 100% 100%;
  }
  75% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 5% 5%;
  }
}

body a,
p {
  background: linear-gradient(to right, #b6fbff, #83a4d4);

  background-clip: text;
  color: transparent;
}

body h4 {
  color: #a6bccf;
  text-shadow: 1px 1px 3px rgb(0, 0, 0);
}

header {
  width: 100%;
  height: 7%;
  display: flex;
}

header .title {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
}

header .title .title-box {
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
}

header .title .title-box p a {
  font-size: 4rem;
  margin: 0 1em;
  border: 2px solid rgb(131, 164, 212, 0.5);
  border-radius: 100px;

  padding: 0 0.35em;
  font-weight: 600;
  background: linear-gradient(to right, #b6fbff, #83a4d4);
  background-clip: text;
  color: transparent;
  /* text-decoration: underline; */
}

header .title .title-box p a:hover {
  transition: 0.1s;
  opacity: 0.7;
}

header .navbar {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}

header .navbar .navbar-items {
  margin: 1em 1em;
}

header .navbar #projects {
  margin-right: 5em;
}

header .navbar .navbar-items a {
  font-size: 1.3rem;
  background: linear-gradient(to right, #b6fbff, #83a4d4);
  background-clip: text;
  color: transparent;
  position: relative;
}

header .navbar .navbar-items a::after {
  content: "";
  position: absolute;
  left: 0;

  top: 30px;
  width: 0;
  height: 2px;
  background-color: #83a4d4;
  transition: width 0.2s ease-in-out;
}

header .navbar .navbar-items a:hover::after {
  width: 100%;
}

header .navbar .navbar-items.active a {
  color: white;
}

/*Main*/
main {
  width: 100%;
  height: 93%;
}

main .container-main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* background-color: rgb(155, 155, 147); */
}

/*1*/
main .container-main .title {
  width: 100%;
  height: 5%;
  /* background-color: yellow; */
}

main .container-main .title .title-box {
  width: 40%;
  height: 100%;

  margin-left: 3em;
}

main .container-main .title .title-box p {
  font-size: 3rem;
  color: white;
  font-weight: 600;
  background: linear-gradient(to right, #b6fbff, #83a4d4);
  background-clip: text;
  color: transparent;
}

/*2*/

/*2*/
main .container-main .project {
  margin-top: 0.5em;
  width: 90%;
  height: 100%;
  /* background-color: rgba(255, 0, 0, 0.3); */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

main .container-main .project .project-box {
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 255, 132, 0.3); */

  display: flex;
  flex-direction: column;
}

main .container-main .project .project-box .project-text {
  width: 100%;
  height: 5%;
  /* background-color: blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}

main .container-main .project .project-box .project-text p {
  border-bottom: #83a4d4 1px solid;
  font-size: 2rem;
  color: white;
  font-weight: 600;
  background: linear-gradient(to right, #b6fbff, #83a4d4);
  background-clip: text;
  color: transparent;
}

main .container-main .project .project-box .project-item {
  width: 100%;
  height: 22.5%;
  /* background-color: purple; */
  display: flex;
}

main .container-main .project .project-box .project-item .project-item-img {
  width: 50%;
  height: 100%;
  /* background-color: rgb(12, 154, 92); */
}

main
  .container-main
  .project
  .project-box
  .project-item
  .project-item-img
  a
  img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

main .container-main .project .project-box .project-item .project-item-text {
  width: 50%;
  height: 100%;
  /* background-color: rgb(0, 0, 0); */
  border-bottom: 1px solid #83a4d4;
  border-top: 1px solid #83a4d4;
}

main .container-main .project .project-box .project-item .project-item-text p {
  margin-bottom: 1em;
}

main
  .container-main
  .project
  .project-box
  .project-item
  .project-item-text
  p:nth-child(1) {
  font-weight: 600;
  font-size: 1.6rem;
}

main
  .container-main
  .project
  .project-box
  .project-item
  .project-item-text
  p
  span {
  font-weight: 700;
  font-size: 1.2rem;
}

main
  .container-main
  .project
  .project-box
  .project-item
  .project-item-text
  p:nth-child(5) {
  border: #83a4d4 2px solid;
  display: inline-block;
  padding: 0.4em 0.4em;
  border-radius: 50px;
  background-color: #83a4d4;
}

main
  .container-main
  .project
  .project-box
  .project-item
  .project-item-text
  p:nth-child(5):hover {
  text-shadow: 0 0 2px white;
  box-shadow: 0 0 10px white;
}

main
  .container-main
  .project
  .project-box
  .project-item
  .project-item-text
  p:nth-child(6) {
  border: #83a4d4 1px solid;
  display: inline-block;
  padding: 0.4em 0.4em;
  border-radius: 50px;
  background-color: #83a4d4;
}

main
  .container-main
  .project
  .project-box
  .project-item
  .project-item-text
  p:nth-child(6):hover {
  text-shadow: 0 0 2px white;
  box-shadow: 0 0 10px white;
}

/*Footer*/
footer {
  width: 100%;
  height: 5%;
  display: flex;
  align-items: center;
  justify-content: end;
}

footer .footer-box {
  width: 50%;

  margin: 0 2em;
}

footer .footer-box p {
  background: linear-gradient(to right, #b6fbff, #83a4d4);

  background-clip: text;
  color: transparent;
}

footer #clock {
  /* margin-right: 1em; */
  font-size: 2rem;
  font-weight: 600;
  background: linear-gradient(to right, #e3e3e3, #b6b4be);
  background-clip: text;
  color: transparent;
  letter-spacing: 1px;
}

footer .clock-box {
  width: 50%;
  margin-right: 3em;
  display: flex;
  justify-content: end;
}

/*MEdia Queries*/
/*Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 80%;
  }
}

/*Tablet*/
@media (max-width: 768px) {
  html {
    font-size: 72.5%;
  }
  body {
    height: 340vh;
  }
  header {
    height: 5%;
  }

  main {
    height: 94%;
  }

  footer {
    height: 3%;
  }

  main .container-main .project .project-box .project-item {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  main .container-main .project .project-box .project-item .project-item-text {
    width: 70%;
    border-bottom: none;
    border-top: none;
    text-align: center;
  }

  main .container-main .project .project-box .project-item .project-item-img {
    border-top: #83a4d4 1px solid;
  }

  main .container-main .title {
    width: 100%;
    height: 2%;
    /* background-color: yellow; */
  }
}

/*Phone */
@media (max-width: 480px) {
  html {
    font-size: 50%;
  }
}
