body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(35deg, #0c92eb, #011f2a);
  background-size: 350% 550%;
  animation: gradientBackground 14s ease-in-out infinite;

  font-family: "Poppins";
}

@keyframes gradientBackground {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 50% 50%;
  }
  50% {
    background-position: 50% 50%;
  }
  75% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 5% 5%;
  }
}

.cursor {
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-radius: 50%;
  position: absolute;
  transition-duration: 100ms;
  transition-timing-function: ease-out;
  z-index: -1;
}

header {
  width: 100%;
  height: 20%;
  display: flex;
}

header .title {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
}

header .title .title-box {
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
}

header .title .title-box p a {
  font-size: 4rem;
  margin: 0 1em;
  border: 2px solid rgb(131, 164, 212, 0.5);
  border-radius: 100px;

  padding: 0 0.35em;
  font-weight: 600;
  background: linear-gradient(to right, #b6fbff, #83a4d4);
  background-clip: text;
  color: transparent;
  /* text-decoration: underline; */
}

header .title .title-box p a:hover {
  transition: 0.1s;
  opacity: 0.7;
}

header .navbar {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}

header .navbar .navbar-items {
  margin: 1em 1em;
}

header .navbar #projects {
  margin-right: 5em;
}

header .navbar .navbar-items a {
  font-size: 1.3rem;
  background: linear-gradient(to right, #b6fbff, #83a4d4);
  background-clip: text;
  color: transparent;
  position: relative;
}

header .navbar .navbar-items a::after {
  content: "";
  position: absolute;
  left: 0;

  top: 30px;
  width: 0;
  height: 2px;
  background-color: #83a4d4;
  transition: width 0.2s ease-in-out;
}

header .navbar .navbar-items a:hover::after {
  width: 100%;
}

/*Main*/
main {
  width: 100%;
  height: 70%;
  display: flex;
}

main .text {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
}

main .text .text-box {
  width: 80%;
  height: 100%;
}

main .text .text-box .name {
  font-size: 4rem;
  font-weight: 600;
  margin: 0;
  padding: 0;

  margin-bottom: 0em;
  background: linear-gradient(to right, #c0e2ff, rgba(255, 255, 255, 0.937));
  /* background-size: 35% 200%;
  animation: gradientBackground 5s ease infinite; */
  background-clip: text;
  color: transparent;
  text-shadow: 3px 3px 5px rgb(255, 255, 255, 0.3);
}

main .text .text-box p {
  font-size: 1rem;
  margin: 0 0;
  font-weight: 600;
  background: linear-gradient(to right, #b6fbff, #83a4d4);

  background-clip: text;
  color: transparent;
}

main .text .text-box p:nth-child(3) span {
  /* margin: 0.2em 0;
  font-size: 1.6rem; */
  /* text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.4); */
  font-weight: 700;
  font-size: 1.5rem;
  /* border-bottom: 1px solid white; */
}

main .text .text-box p:nth-child(2) {
  margin-bottom: 1.7em 0;
  /* font-size: 1.2rem; */
}

main .text .text-box p:nth-child(2) .byuh a {
  font-size: 1.3rem;
  background: linear-gradient(to right, #e2f4f5, #d0d4da);
  background-clip: text;
  color: transparent;

  margin: 0;
  /* color: #ffffff; */
}

main .text .text-box p:nth-child(2) .byuh a:hover {
  opacity: 0.8;
  transition: 0.3s;
}

main .text .text-box p:nth-child(2) .course {
  font-size: 1.1rem;
  background: linear-gradient(to right, #e2f4f5, #d0d4da);
  background-clip: text;
  color: transparent;
  /* font-style: italic; */
  border-bottom: 1px solid white;
}

main .text .text-box p:nth-child(3) {
  font-size: 1.4rem;
  margin-top: 2em;
  margin-bottom: 0.8em;
  background: linear-gradient(to right, #f4feff, #f4feff);
  background-clip: text;
  color: transparent;
  font-weight: 500;
}

main .text .text-box p:nth-child(3) span {
  font-size: 1.7rem;
  background: linear-gradient(to right, #ffffff, rgba(188, 14, 130, 0.5));
  background-clip: text;
  color: transparent;

  background-size: 300% 550%;
  animation: gradientBackground 6s ease-in-out infinite;
  font-weight: 600;
  /* font-weight: 700; */
  /* font-size: 1.5rem; */
  /* border-bottom: 1px solid white; */
}

/* main .text .text-box p:nth-child(4) {
  font-size: 1.2rem;
  margin-bottom: 0.5em;
} */

main .text .text-box a {
  font-size: 1.6rem;
  margin: 0.5em 0.5em;
  background: linear-gradient(to right, #e2f4f5, #ccd6e6);

  background-clip: text;
  color: transparent;
}

main .text .text-box #github:hover {
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 1px 1px 15px rgb(255, 255, 255);
}

main .text .text-box #linkedin:hover {
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 1px 1px 15px rgb(255, 255, 255);
}

main .text .text-box #email:hover {
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 1px 1px 15px rgb(255, 255, 255);
}

main .API {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  /* background-color: #ff0000; */
}

main .API .API-text {
  margin: 0.5em 1em;
  font-size: 1.1rem;
  background: linear-gradient(to right, #dbfdff, #e6f0ff);
  font-weight: 600;
  background-clip: text;
  color: transparent;
}

main .API #map {
  width: 80%;
  height: 80%;
  border-radius: 25px;
  border: 1px solid white;
}

main .API .box-my-time {
  display: flex;
}

main .API .box-my-time div {
  margin: 0.2em 0.3em;
  background: linear-gradient(to right, hsl(184, 100%, 94%), #fcfdff);

  background-clip: text;
  color: transparent;
  font-weight: 600;
}

main .API .box-my-time {
  display: flex;
}

/*Footer*/
footer {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: end;
}

footer .footer-box {
  width: 50%;

  margin: 0 2em;
}

footer .footer-box p {
  background: linear-gradient(to right, #b6fbff, #83a4d4);

  background-clip: text;
  color: transparent;
}

footer #clock {
  /* margin-right: 1em; */
  font-size: 2rem;
  font-weight: 600;
  background: linear-gradient(to right, #e3e3e3, #b6b4be);
  background-clip: text;
  color: transparent;
  letter-spacing: 1px;
}

footer .clock-box {
  width: 50%;
  margin-right: 3em;
  display: flex;
  justify-content: end;
}

/*Media Queries*/
/*Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 80%;
  }
}

/*Tablet*/
@media (max-width: 768px) {
  html {
    font-size: 93%;
  }

  main {
    flex-direction: column;
    height: 100%;
  }

  main .text {
    width: 100%;
    height: 80%;
  }

  main .API {
    width: 100%;
  }
}

/*Phone */
@media (max-width: 480px) {
  html {
    font-size: 70%;
  }
}
